<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form name="frm_register" id="frm_register" action="" method="post">
    <div class="input-row">
        <i class="iuname"></i>
        <input type="text" value="用户名"  name="data[username]" 	 class="light">
        <div class="clear"></div>
    </div>
    <div class="input-row">
        <i class="iupass"></i>
        <input type="text" value="密码" name="data[password]" class="light" >
        <div class="clear"></div>
    </div>
    <div class="input-extra">
        <div class="fl"><input type="checkbox" value="1" name="data[cookie]">&nbsp;记住我</div>
        <a href="javascript:void(0);" class="fr">忘记密码?</a>
        <div class="clear"></div>
    </div>
    <div >
        <!--<a href="user.html" >立即登录</a>-->
        <input type="submit" value="登 录" class="input-button" class="btn" tabindex="4" name="submit"/>
    </div>
    <a href="{$cats[10][url]}" class="lnkregister" >注册布布丁账号</a>

</form>
</body>
</html>