<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>找回密码</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="{SITE_THEME}css/common.css" rel="stylesheet" type="text/css">
    <link href="{SITE_THEME}css/user.css" rel="stylesheet" type="text/css">
    <script src="{SITE_THEME}js/jquery.js"></script>
</head>
<body style="background:#dfdfdf;">
<div class="re_pwdbox">
    <div class="re_pwdbox2">
        <div class="title">
            <div class="pic"><img src="{SITE_THEME}images/logo4.png"/></div>
            <P>———&nbsp;&nbsp;<span>布布丁提示</span>&nbsp;&nbsp;———</P>
            <div class="info3">{$msg}</div>
            {if $url}
            <a href="{$url}">如果您的浏览器没有自动跳转，请点击这里</a>
            <meta http-equiv="refresh" content="{$time}; url={$url}">
            {else}
           <a href="javascript:history.back();" >[点这里返回上一页]</a>{/if}

        </div>
    </div>
</div>
</div>
<div class="footer3">
    <p>版权所有：布布丁</p>

</div>
</body>
</html>
